:root {
    --primary-background-color: rgb(93, 123, 187);
    --secondary-background-color: rgb(77, 111, 185);
    
    --primary-font-color: rgb(0, 0, 145);
    --hover-color: rgb(236, 184, 11);
}

/***** general *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

main {
    position: relative;
    padding: 25px 10%;
}

.titrePage {
    font-size: 3em;
    text-align: center;
}

.fa-solid {
    font-size: 25px;
    color: var(--primary-background-color);
}

[id*="list"] { /* modif sur toutes les listes */
    background-color: var(--primary-background-color);
    margin: 0 20%;
    text-align: center;
}

#listActeurs, #listRealisateurs, #listRoles, #listGenres { /* toutes les listes sauf film */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 25px;
}


/********** header **********/
header {
    height: 120px;
    background-color: var(--primary-background-color);
}

/********** nav **********/
nav {
    padding: 0 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav ul {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

nav ul li {
    list-style: none;
    text-transform: none;
    transition: 0.1s;
    margin: 5px;
    font-size: 1.2em;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav ul li a:hover {
    color: var(--hover-color);
    transition: 0.3s;
}

/******************** searchBar ********************/
#searchBar { /* div */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#searchBar form {
    position: relative;
}

#searchInput { /* input type search */
    width: 350px;
    height: 40px;
    padding-left: 11px;
    font-size: 1.2em;
    border: 0;
    border-radius: 10px;

    transition: 0.1s;
}

#searchInput:focus-visible { /* input type search */
    border-bottom-right-radius: 0;
    transition: 0.1s;
}

#searchInput:focus-visible {
    outline: none;
}

#textHint { /* div */
    color: black;
}

#textHint a {
    text-decoration: none;
}

.dropDownMenuHint {
    width: calc(100% + 1px);
    height: fit-content;
    max-height: calc(60px*10); /*60px car c'est la hauteur d'un item dans le menu  */
    padding: 0 10px ;

    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    
    position: absolute;
    left: 0;
    overflow-y:scroll;
    scrollbar-width: thin;
    z-index: 99;
}

.dropDownMenuHint a p {
    margin: 10px 0;
}

/*************** homePage ***************/
#homePage {
    padding: 15px 0;
    text-align: center;
    font-size: 1.5em;
}

/********** lists **********/
.listBloc:hover .linkEntities{
    color: rgb(236, 184, 11);
}

.listBloc:hover .deleteBloc a button{
    opacity: 1;
    transition: 0.3s;
}

.listBloc:hover .updateBloc a button{
    opacity: 1;
    transition: 0.3s;
}

.listBloc:not(:last-child) { 
    border-bottom: 1px solid black;
}

.listBloc{
    position: relative;
}

.deleteBloc {
    width: 50px;
    height: 50px;

    position: absolute;
    top: calc(50% - 25px);
    right: 35px;
}

.deleteBloc a button {
    width: 100%;
    height: 100%;
    z-index: 15;
    border-radius: 50%;
    border: none;

    opacity: 0;
    transition: 0.3s;
}

.updateBloc {
    width: 50px;
    height: 50px;

    position: absolute;
    top: calc(50% - 25px);
    right: 100px;
}

.updateBloc a button {
    width: 100%;
    height: 100%;
    z-index: 15;
    border-radius: 50%;
    border: none;

    opacity: 0;
    transition: 0.3s;
}

.deleteBloc a button:hover, .updateBloc a button:hover {
    border: none;
}

.deleteBloc a button:active, .updateBloc a button:active {
    border: none;
}

/********** <a> from all lists **********/
.linkEntities {
    height: 70px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/********** <p> from all lists **********/
.listEntities { /* p */
    text-align: center;
    font-size: 1.5em;
}

/*************** Add - general ***************/
.interactAdd { /* div */
    width: 160px;
    height: 50px;
    position: absolute;
    background-color: var(--primary-background-color);
    border-radius: 10px;
    text-align: center;
}

.interactAdd a { /* a */
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interactAdd a:hover { /* div */
    color: var(--hover-color);
}

/*************** Add - film ***************/
.interactAddFilm { /* div */
    width: 180px;
    height: 400px;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.interactAddFilm a { /* <a> add casting  */
    width: 100%;
    height: 90px;
    padding: 15px;

    color: white;
    font-size: 1.2em;
    text-decoration: none;
    background-color: var(--primary-background-color);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*************** Update - general ***************/
.interactUpdate { /* div */
    width: 160px;
    height: 50px;
    position: absolute;

    text-align: center;
    background-color: var(--primary-background-color);
    border-radius: 10px;

    top: calc(12px + 25px ); /*25px car c'est le padding utilisé*/
}

.interactUpdate a { /* a */
    width: 100%;
    height: 100%;

    color: white;
    font-size: 1.2em;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.interactUpdate a:hover { /* div */
    color: var(--hover-color);
}

/*************** Update - film ***************/
.interactUpdateFilm { /* div */
    position: absolute;
    top: calc(12px + 25px );
    left: 10%;
    
    display: flex;
    flex-direction: row;
}

.interactUpdateFilm a { /* <a> add casting  */
    width: 150px;
    height: 50px;
    margin: 0 10px ;

    color: white;
    font-size: 1.2em;
    text-decoration: none;
    background-color: var(--primary-background-color);
    border-radius: 10px;

    /*aligne verticalement et horizontalement le text au centre de la div*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/********** blocDetails - general **********/
.blocDetailsFilm a, .blocDetailsDirector a, .blocDetailsActor a, .blocDetailsRole a, .blocDetailsGenre a{
    text-decoration: none;
    color: rgb(0, 0, 145);
}

span {
    color: gray;
}

/*************** Film list ***************/
#listFilms {
    margin: 0 20% 15px;
    border-radius: 15px;
}

.blocFilms {
    padding: 12px 0;
    text-align: center;
}

.blocFilms a {
    color: white;
    text-decoration: none;
}

.blocFilms a:hover {
    color: var(--hover-color);
    background-color: var(--secondary-background-color);
}

.blocFilms:not(:last-child) {
    border-bottom: 1px solid black;
}

.blocFilms p:first-child {
    color: white;
} 

/********** details **********/
.blocDetailsFilm {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
}

.blocDetailsFilm h3 {
    font-size: 2.5em;
}

.blocDetailsFilm ul {
    font-size: 1em;
}

.blocDetailsFilm ul li {
    font-size: 1.5em;
    list-style: none;
}

/********** afficheFilm **********/
.afficheFilm {
    width: 200px;
    margin-right: 25px;
}

.afficheFilm img {
    width: 100%
}

/***************director ***************/
.blocDetailsDirector {
    padding: 15px 0;
}

.blocDetailsDirector h3 {
    font-size: 3em;
}

.blocDetailsDirector ul {
    font-size: 1em;
}

.blocDetailsDirector ul li {
    font-size: 1.5em;
    list-style: none;
}

/**** role ****/
.blocDetailsRole h3 {
    padding: 20px 0; 
    font-size: 2em;
}

.blocDetailsRole p {
    font-size: 1.5em;
}

/**** genre ****/
.blocDetailsGenre h3 {
    padding: 20px 0; 
    font-size: 2em;
}

.blocDetailsGenre p {
    font-size: 1.5em;
}

/*************** actor ***************/
.blocDetailsActor {
    padding: 15px 0;
}

.blocDetailsActor h3 {
    font-size: 3em;
}

.blocDetailsActor ul {
    font-size: 1em;
}

.blocDetailsActor ul li {
    font-size: 1.5em;
    list-style: none;
}

/*************** form add/update ***************/
#bloc-form { /* form */
    padding: 10px 0;
    margin: 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-background-color);
    border-radius: 25px;
}

.div-label-input { /* divs label et input */
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.form-label { /* label */
    text-transform:capitalize;
    font-size: 1.8em;
}

#bloc-form input, #bloc-form select { /* all input */
    width: 230px;
    height: 35px;

    border:none;
    border-radius: 15px;
    text-align: center;
}

#bloc-form option {
    overflow: scroll;
} 

#bloc-form input:focus-visible { /* nativ outline */
    outline-style:none;
}

#bloc-form input[type=text] { /* input text */
    width: 250px;
    font-size: 1.3em;
}

#bloc-form input[type=date] { /* input date */
    font-size: 1.3em;
}

#bloc-form input[type=time] { /* input time */
    font-size: 1.3em;
}

#bloc-form select{  /* select > option */
    font-size: 1em;
    border-radius: 5px;
}

#bloc-form option{  /* select > option */
    border-radius: 25px;
}

#bloc-form button {
    width: 60px;
    height: 60px;
    margin: 15px 0;
    border-radius: 50%;
}

.error {
    color: red;
}

/*************** footer ***************/
footer {
    background-color:var(--primary-background-color);
} 

footer ul {
    padding: 0 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} 

footer ul li {
    list-style: none;
    color: white;
} 

#footerSocials {
    padding: 0 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/******************** custom dropdown menu ********************/
/* div qui entoure select */
.custom-select {
    position: relative;
}

/*cache le visuel du select natif*/
.custom-select select {
    display: none; 
}

/* le visuel du select avec le menu fermé */ 
.select-selected { 
    width: 230px;
    background-color: white;
    border-radius: 15px;
    transition: 0.1s;

}
  
/* flèche quand elle est tournée vers le bas  */
.select-selected:after {
    width: 0;
    height: 0;
    position: absolute;
    top: 20px;
    right: 10px;

    border: 6px solid transparent;
    border-color: black transparent transparent transparent;
    content: ""; /* permet d'afficher la flèche */
}

/* la flèche quand elle pointé vers le haut */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent black transparent;
    top: 10px;
}
.select-arrow-active {
    border-bottom-right-radius:0%;
    transition: 0.1s;
}
/* le menu déroulant d'options */
.select-items {
    width: calc(100% + 1px);
    height: 200px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;

    background-color: white;
    border-radius: 15px;
    border: 1px solid gray;    
    
    overflow-y: scroll; /* applique une bar de scroll sur l'axe y */ 
    scrollbar-width: thin;  /* cache la bar de scroll tout en la gardant fonctionnelle (compatible uniquement avec firefox) */
}

/* select et le menu d'options */
.select-items div,.select-selected {
    color: black;
    padding: 8px 16px;
    border: 1px solid transparent;
    cursor: pointer;
}

/* similaire à scrollbar-width mais compatible avec chrome */
.select-items::-webkit-scrollbar { 
    display: none;
}

/* applique un hover sur chaque option individuelle de la liste */
.select-items div:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

/* est appliqué sur .select-items quand on ferme le menu pour tout cacher */
.select-hide {
    display: none;
}